<section id="login-container" class="login-section">
    <form id="form-content" class="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
      <h2>Company X</h2>
        <mat-form-field appearance="outline">
              <input matInput formControlName="email">
              <mat-label>Email</mat-label>
        </mat-form-field>
        <mat-form-field appearance="outline">
              <input matInput formControlName="password" >
              <mat-label>Password</mat-label>
        </mat-form-field>
        <button mat-raised-button type="submit" id="login-btn" class="login-btn">Login</button>
        <a class="signIn" (click)="navigateTo('sign-in')">Sign In</a>
        <p *ngIf="errored">Email must be valid</p>
        <p *ngIf="errored">Password must be 5 char long</p>
        <p *ngIf="invalidParam">Wrong Username or password</p>
    </form>
</section>