<section id="header-container">
  <section id="navigation-container">
    <div class="navigation-container">
      <nav>
        <i class="fas fa-asterisk logo"></i>
        <!-- <a class="page-links" *ngFor="let link of routeLinks; let i = index" id="{{link.link}}" [routerLink]="link.link"
          routerLinkActive #rla="routerLinkActive">
          {{link.label}}
        </a> -->
        <div class="nav-right">
          <p>{{userName}}  <i class="fas fa-user"></i></p>
          <div class="logout">
            <i class="fas fa-sign-out-alt" (click)="logOut()"></i>
          </div>
        </div>
      </nav>
    </div>
  </section>
</section>