.page-links {
    margin: 10px 15px;
}

nav{
  margin:0 auto;
  width: 90%;
  height: 80px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: white;
  font-size: 2em;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: white;
  padding-right: 20px;
}

.logout{
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  cursor: pointer;
}
.fa-sign-out-alt{
  color: #2196f3;
  position: absolute;
  top: 9px;
  left: 9px;
}